body {
  font-family: sans-serif;
  text-align: center;
}

.contenido {
  display: inline-block;
  text-align: start;
}

p>label>meter,
p>label>input[type=range],
p>label>output {
  display: block;
}

mi-footer {
  display: block;
  margin: 1rem 0;
  font-size: small;
}